<div class="row no-margin-bottom">
  <div class="col s12 m8 offset-m2">
    <div class="card white mcb-card-form">
      <h5 class="center">Votre commande à été annulée.</h5>

      <br>

      <div class="row">
        <div class="col s12">
          <p>
            Le paiement de votre commande n'a pas été energistré.
            <br><br>
            Veuillez recommencer le processus de réservation de votre séjour.
            <br><br>
            L'équipe technique,<br>
            MMA CAMP BRAZIL<br>
            resa@mmacampbrazil.com
          </p>
        </div>
      </div>

      <br>

      <div class="row no-margin-bottom">
        <div class="col s12 center">
          <%= link_to "Retour aux produits (1/4)", root_path, class: 'center mcb-yellow btn btn-large black-text waves-effect waves-light' %>
        </div>
      </div>
    </div>
  </div>
</div>
