<div class="row no-margin-bottom">
  <div class="col s12 m8 offset-m2">
    <div class="card white mcb-card-form">
      <h5 class="center">Félicitations! Votre stage est réservé</h5>

      <br>

      <div class="row">
        <div class="col s12">
          <p>
            Nous venons de vous <u>envoyer un email</u> avec le récapitulatif de vitre commande.
            <br><br>
            Il est important que vous lisiez ce mail car il contient les informations sur comment préparer au mieux votre arrivée au MMA CAMP BRAZIL:
            et notemment <u>le contrat d'adhésion à REMPLIR</u>.
            <br><br>
            Si vous avez des questions, n'hésitez pas à nous <a href="mailto:resa@mmacampbrazil.com">envoyer un email</a>.
            <br><br>
            Merci encore pour votre confiance.<br>
            À très bientôt,
            <br><br>
            Thibault Marino,<br>
            Gérant du MMA CAMP BRAZIL
            resa@mmacampbrazil.com
          </p>
        </div>
      </div>

      <br>

      <div class="row no-margin-bottom">
        <div class="col s12 center">
          <a href="https://mmacampbrazil.com" rel="next" class="black-text btn btn-large yellow">Retour au site</a>
        </div>
      </div>
    </div>
  </div>
</div>
