<p>
  Bonjour,<br>
  <br>
  C’est Thibault l’organisateur des camps d’entraînements MMA Camp Brazil.<br>
  <br>
  Afin de bien préparé votre séjour je vous invite à lire notre « foire aux questions » concernant les stages et la vie à São-Paulo.<br>
  <br>
  <a href="https://mmacampbrazil.com/faqs/">https://mmacampbrazil.com/faqs/</a>
  <br>
  N'hésitez pas à nous contacter via Whatsapp si nécessaire.<br>
  <br>
  Oss<br>
  Thibault Marino<br>
  Whatsapp <b>+55 (11)984683942</b><br>
  <a href="mailto:resa@mmacampbrazil.com">resa@mmacampbrazil.com</a><br>
  <a href="www.mmacampbrazil.com">www.mmacampbrazil.com</a>
</p>
