<p>
  Bonjour,<br>
  <br>
  C’est Thibault l’organisateur des camps d’entraînements MMA Camp Brazil.<br>
  <br>
  Si vous ne nous suivez pas déjà sur les réseaux sociaux je vous invite à regarder <b>notre quotidien sur Instagram</b>:<br>
  <a href="https://www.instagram.com/mmacampbrazil/">https://www.instagram.com/mmacampbrazil/</a><br>
  <br>
  Egalement notre chaine Youtube où nous avons plusieurs vidéos de présentation du camp d’entraînement mais aussi :<br>
  - Le documentaire « Globe figurer » sur l’histoire de Thibault l’organisateur des stages,<br>
  - Des portraits des combattants de l’équipe,<br>
  - Des vidéos de techniques de combats….<br>
  <br>
  <a href="https://www.youtube.com/channel/UC4FpU8937SiAUCSIF-DQ6eg">https://www.youtube.com/channel/UC4FpU8937SiAUCSIF-DQ6eg</a><br>
  <br>
  N'hésitez pas à nous contacter via Whatsapp si nécessaire.<br>
  <br>
  Oss<br>
  Thibault Marino<br>
  Whatsapp <b>+55 (11)984683942</b><br>
  <a href="mailto:resa@mmacampbrazil.com">resa@mmacampbrazil.com</a>
  <a href="www.mmacampbrazil.com">www.mmacampbrazil.com</a>
</p>
