<p>
  Bonjour,<br>
  <br>
  Merci de votre réservation.<br>
  <br>
  Afin de valider votre séjour au MMA Camp Brazil, nous avons besoin de quelques informations supplémentaires :<br>
  <br>
  1/ Le contrat d'adhésion (en pj) lu, rempli et signé<br>
  Vous pouvez le télécharger ici : <a href="<%= @contract_url %>"><%= @contract_url %></a><br>
  2/ Une copie de votre passeport<br>
  3/ Le formulaire d'inscription complété <a href="https://mmacampbrazil.typeform.com/to/FpsNFV">https://mmacampbrazil.typeform.com/to/FpsNFV</a><br>
  <br>
  N'hésitez pas à nous contacter via Whatsapp si nécessaire.<br>
  <br>
  Oss<br>
  Thibault Marino<br>
  Whatsapp <b>+55 (11)984683942</b><br>
  <a href="mailto:resa@mmacampbrazil.com">resa@mmacampbrazil.com</a>
  <a href="www.mmacampbrazil.com">www.mmacampbrazil.com</a>
</p>
