@import "materialize";

body {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.mcb-logo:hover {
  background-color: #ffffff !important;
}

.mcb-body {
  background-color: #fff8d6 !important;
}

.mcb-green {
  background-color: #00AA4F !important;
}

.mcb-yellow {
  background-color: #FFE100 !important;
}

.mcb-blue {
  background-color:  #004096 !important;
}

.mcb-header {
  padding: 60px 0 !important;

  @media only screen and (max-width: 480px) {
    padding: 40px 0 !important;
  }

  &-title {
    font-weight: bold;
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    font-size: 35px;
    line-height: 1.4em;
    margin: 0 0 25px;
  }
}

.mcb-breadcrumbs {
  .nav-wrapper {
    padding: 0 20px;

    a {
      font-size: 14px;

      &:hover {
        background-color: inherit;
        text-decoration: underline;
      }
    }
  }
}

.mcb-mobile-breadcrumbs {
  margin: 0 0 40px !important;

  ul {
    margin: 0;

    li {
      margin-bottom: 5px;

      a {
        text-decoration: underline;
      }
    }
  }
}

.mcb-content {
  margin-top: 50px !important;

  @media only screen and (max-width: 480px) {
    margin-top: 0 !important;

    .card {
      margin: 0 0 40px;
    }
  }

  .card-content {
    padding: 0 !important;

    .card-title {
      font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
      font-weight: 500;
      margin-bottom: 20px !important;
      font-size: 24px;
      line-height: 1em !important;
      text-transform: uppercase;
      background-color: #004096;
      padding: 20px;
      color: #FFFFFF;
    }

    .card-list {
      margin: 20px 0 0;
      padding: 0 20px 20px;

      li {
        margin: 5px 0 0;
      }
    }
  }

  .card-action {
    padding: 20px !important;

    .card-price {
      font-size: 24px;
      line-height: 1em;
    }

    .card-atc-btn {
      margin-top: 15px;
    }
  }

  .mcb-table {
    border: 1px solid #eeeeee;

    th {
      padding: 15px 0;

      @media only screen and (max-width: 480px) {
        padding: 15px 0 15px 10px;
        font-size: 13px;
      }
    }

    td {
      padding: 20px 0;
    }
  }

  .mcb-card-form {
    padding: 10px 30px 40px;

    h5 {
      margin: 20px 0 0;
      line-height: 1.6em;
    }

    .field_with_errors {
      background-color: #ffcdd2 !important;
    }

    .mcb-errors {
      padding: 10px;
      background-color: #ffcdd2;

      ul {
        margin: 0;
        color: #d32f2f;
        line-height: 1.6em;
      }
    }

    &-start-at-warning {
      border: 1px solid #666666;
      padding: 5px 10px;
      margin: 5px 0;
      color: #444444;
    }

    .mcb-form-cta-btn {
      margin-top: 15px;
    }
  }
}

.mcb-footer {
  padding: 70px 0 !important;
  margin-top: 80px;

  h5 {
    margin: 25px 0 15px;
  }

  p {
    margin-bottom: 40px;
  }
}
